#indexBody{
    padding: 0%;
    margin: auto;
    max-width: 800px;
    background-color: black;
    background-image: url(indexhatter.jpg) ;
    background-repeat: no-repeat;
    border-image-width: 100%;
    background-attachment: fixed;
    background-position: center;
}

#indexul{
    
  padding-top: 300px;
}
.indexli{
    list-style-type: none;
    text-align: center;
    height: auto;
    width: auto;
    font-size: xx-large;
    color: blueviolet;

}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.menu{
  list-style-type: none;
  font-weight: bold;
 
}
#abBody{
  padding: 0%;
  margin: auto;
  display: grid;
  grid-template-areas:
  "h h"
  "a as"
  "f f"
  ;
  background: bisque;
}
#ab_kep{

  grid-area: as;
}
img{
  max-width: 400px;
  width: 100%;

}
#ab_header{
  grid-area: h;
  margin: 20px;

}
#ab_article{
  grid-area: a;
  border: 1px black dotted;

}
#ab_footer{
  
grid-area: f;
border: 3px solid black;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  padding: 10px;
  border: 1px solid black;
}
body{
  background-color: bisque;
}
h3{
  padding: 10px;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}
.video-container{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  padding-top: 25px;
  height: 0;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 600px) {
  #abBody {
    grid-template-areas:
  "h"
  "a"
  "as"
  "f"
  ;
  }
}